<main class="page">
	<section class="page-loading" *ngIf="initialLoading">
		<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
	</section>

	<section class="page-content" *ngIf="!initialLoading">
		<header class="content-header">
			<h1
				[@fade]="{
					value: undefined,
					params: { delayMS: 300 }
				}"
			>
				FILE CONVERTER
			</h1>
			<p
				[@fade]="{
					value: undefined,
					params: { delayMS: 750 }
				}"
			>
				upload file / select format / convert file
			</p>
		</header>

		<form
			class="content-form"
			[@fade]="{
				value: undefined,
				params: { delayMS: 1300 }
			}"
		>
			<section class="supported-types">
				<p [@fade]="{ value: undefined, params: { delayMS: 2000 } }">
					supported types:
				</p>
				<span *ngFor="let format of allFormats; let last = last">
					<span *ngIf="!last">{{ format.name }}, </span>
					<span *ngIf="last">{{ format.name }}</span>
				</span>
			</section>

			<aside class="box-step">
				<i class="fa fa-file fa-3x"></i>
				<label class="file-upload-label" for="file-upload">
					<span *ngIf="!selectedFile">UPLOAD</span>
					<span *ngIf="selectedFile" title="{{ selectedFile.name }}">{{
						selectedFile.name
					}}</span>
				</label>
				<input
					id="file-upload"
					name="file-upload"
					type="file"
					accept=".jpg, .png, .bmp, .webm, .mp4, .mov"
					(change)="selectFile($event.target.files[0])"
				/>
			</aside>

			<aside class="box-step">
				<i
					class="fa fa-ellipsis-h fa-3x"
					[ngClass]="{
						'fa-file-image-o': fileType === 'image',
						'fa-file-video-o': fileType === 'video'
					}"
				></i>
				<button
					id="format-select"
					type="button"
					[ngClass]="{ 'btn-disabled': currentStep < 2 }"
					[disabled]="currentStep < 2"
					[appSelectionMenu]="availableFormats"
					(selectFormat)="selectFormat($event)"
				>
					<span *ngIf="!selectedFormat">SELECT FORMAT</span>
					<span *ngIf="selectedFormat">{{ selectedFormat.name }}</span>
				</button>
			</aside>

			<aside class="box-step">
				<i class="fa fa-exchange fa-3x"></i>
				<button
					id="file-convert"
					type="submit"
					(click)="convertFile()"
					[ngClass]="{
						'btn-disabled':
							currentStep < 3 ||
							conversionProcess === 1 ||
							conversionProcess === 2
					}"
					[disabled]="
						currentStep < 3 ||
						conversionProcess === 1 ||
						conversionProcess === 2
					"
					*ngIf="currentStep <= 3 && conversionProcess < 3"
				>
					<span *ngIf="conversionProcess === 0">CONVERT</span>
					<i
						*ngIf="conversionProcess === 1"
						class="fa fa-circle-o-notch fa-spin fa-2x"
					></i>
					<i *ngIf="conversionProcess === 2" class="fa fa-check fa-2x"></i>
				</button>
				<button
					*ngIf="currentStep === 3 && conversionProcess === 3"
					(click)="downloadFile()"
				>
					DOWNLOAD
				</button>
			</aside>
		</form>
	</section>
</main>
