$shadow-color: #222;
$bg-color: lighten($shadow-color, 5%);
$bg-color-inner: lighten($shadow-color, 15%);
$text-color: #ddd;
$text-color-disabled: #aaa;

$btn-color: #015f99;
$btn-color-hover: lighten($btn-color, 5%);
$btn-color-active: lighten($btn-color, 10%);
$btn-color-disabled: #4c4f56;
$btn-font-size: 13px;

.page {
	width: 100vw;
	height: 100vh;
	background-color: $bg-color;
	color: $text-color;

	&-loading,
	&-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.content {
	&-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& h1 {
			margin-bottom: 25px;
		}
	}

	&-form {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50vw;
		height: 50vh;
		background-color: $bg-color-inner;
		box-shadow: 0px 0px 3px $shadow-color;
		margin-top: 50px;

		& .supported-types {
			position: absolute;
			top: 25%;
			text-align: center;
		}
	}
}

.box-step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
	margin: 0px 100px;
	position: relative;
	bottom: 15px;

	&:not(:last-child):after {
		content: "";
		background-color: #ddd;
		width: 150px;
		height: 1px;
		position: absolute;
		top: 25%;
		left: 175px;
		animation: step-line-fill;
		animation-duration: .75s;
		animation-delay: 1.3s;
	}

	&>#file-upload {
		display: none;
	}

	&>.file-upload-label,
	&>button {
		position: relative;
		top: 50px;
		width: 150px;
		height: 50px;
		background-color: $btn-color;
		color: $text-color;
		border: 0px;
		transition: .3s ease;
		font-weight: 600;
		font-size: $btn-font-size;
		cursor: pointer;
		user-select: none;
		margin: 0px 50px;

		&:hover {
			background-color: $btn-color-hover;
		}

		&:active {
			background-color: $btn-color-active;
		}

		&.btn-disabled {
			background-color: $btn-color-disabled;
			color: $text-color-disabled;
			cursor: not-allowed;
		}
	}

	&>.file-upload-label {
		display: flex;
		justify-content: center;
		align-items: center;

		& span {
			text-align: center;
			width: 125px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.selection-menu {
	position: absolute;
	z-index: 1000;
	list-style-type: none;
	width: 150px;
	background-color: $btn-color;
	padding: 0px;
	font-weight: 600;
	font-size: $btn-font-size;
	transition: .3s ease;
	opacity: 0;

	&-visible {
		opacity: 1;
	}

	&-item {
		height: 35px;
		text-align: center;
		line-height: 35px;
		font-size: 1rem;
		user-select: none;
		transition: .3s ease;
		cursor: pointer;

		&:hover {
			background-color: $btn-color-hover;
		}

		&:active {
			background-color: $btn-color-active;
		}
	}

	&-item:not(:last-child) {
		border-bottom: 1px solid darken($btn-color-active, 12.5%);
	}

	&:after {
		content: "";
		position: absolute;
		border-style: solid;
		top: -57%;
		left: 50%;
		margin-left: -20px;
		border-width: 20px;
		border-color: transparent transparent $btn-color transparent;
	}
}

@keyframes step-line-fill {
	0% {
		width: 0px;
	}

	100% {
		width: 150px;
	}
}
