/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
